In [1]:
#TO FIND SQUARE OF A NUMBER 
v = lambda x: x*2
v(5)

10

In [2]:
#do the above to a list 
numbers = [2,3,4,5]

v = list(map(lambda x:x*2, numbers))
v

[4, 6, 8, 10]

In [3]:
#lambda function to return yth root of a number 
v = lambda x,y : x **(1/y)
v(4,2)

2.0

In [5]:
#integters greater thsn 9
list1 = [2, 6, 8, 10, 11, 4, 12, 7, 13, 17, 0, 3, 21]

q = list(filter(lambda x : x>9 , list1))
q

[10, 11, 12, 13, 17, 21]

In [6]:
#Use the map() function to output the remainder after dividing each number in list2 by 2.
list2 = [2, 6, 8, 10, 11, 4, 12, 7, 13, 17, 0, 3, 21]
v = list(map(lambda x : x % 2, list2))
v

[0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1]

Given a list of lowercase strings, return a list with the strings in sorted in alphabetical order, except group all the strings that begin with 'x' at the beginning of the list.
e.g. ['mix', 'xyz', 'apple', 'xanadu', 'aardvark'] yields
['xanadu', 'xyz', 'aardvark', 'apple', 'mix']

Hint: this can be done by making 2 lists and sorting each of them before combining them.

Hint: Remember that Python's list object has a sort() function. Python also has a built-in function called sorted().

In [13]:
"""Approach

# Create two list x_list and n_x_list
# X_list will contain sorted words starting with x in alphabetical order
# n_x_list will contain words not starting with x and all words will be arranged in alphabetical order
# finally ,create a result varibale where the two list is added together with values in x_list coming first 

"""






def group_sort(listx):
    """This function takes in a list as arguement and returns a list
    of alhphabetically ordered words with the words containing x coming first and those without x coming afterwards
    
    Parameters: 
     x_list = list of words with letter x ordered alphabetically 
     n_x_list =  list of words without letter x ordered alphabetically 
   returns   
     result = a list of combined words with words containing x coming first 
    
    """
    #create a list x_list where the words containing x have been filtered from the original list
    x_list=list(filter(lambda listx : listx[0]=='x', listx))
    # sort the list 
    x_list = sorted(x_list)
    #create a list n_x_list where the words not containing x have been filtered from the original list
    n_x_list=list(filter(lambda listx : listx[0]!='x', listx))
    
    # sort the n_x_list list 
    n_x_list =sorted(n_x_list)
    
    # add the two list together and store in result 
    result  = x_list + n_x_list
    
    return  result

In [14]:
x = ['mix', 'xyz', 'apple', 'xanadu', 'aardvark']
group_sort(x)

['xanadu', 'xyz', 'aardvark', 'apple', 'mix']

In [15]:
group_sort(['mix', 'xyz', 'apple', 'xanadu', 'aardvark']) == ['xanadu', 'xyz', 'aardvark', 'apple', 'mix']
group_sort(['netowrk', 'artist', 'xamarian', 'king', 'cat']) == ['xamarian', 'artist', 'cat', 'king', 'netowrk']
group_sort(['jhsdfi', 'jeiri', 'iopqwu', 'bhvaiau', 'loaks']) == ['bhvaiau', 'iopqwu', 'jeiri', 'jhsdfi', 'loaks']

True

Note: RNA starts with a start codon AUG and ends with UGA, UAA, or UAG

The function must return "Not readable RNA code" if the above conditions are not met.

rna_length('AUGUAGCAUAA') == 5
rna_length('AUGUUAUAG') == 3
rna_length('AUGUAGGCACAUUUAUGCUCCUGA') == 18
rna_length('AUGAGGCACCUUCUGCUCCUUAC') == "Not readable RNA code"

In [22]:
"""Approach
1. Check if the RNA contains the start codon AUG in the first 3 characters of the RNA
2. if it does, then filter out the remaining characters 
3. Check if the end of the remaining characters from step 2 contains any of the end codon UGA, UAA, UAG
4. if it does remove the last three charaters 
5. find the length of the remaining characters 
6. if not True , return "Not readable RNA code"



"""



def rna_length(RNA):
    if RNA[0:4]== 'AUG' and RNA[-3:] in ('UGA','UAA','UAG'):
        RNA = RNA[3:]
        RNA = RNA[0 :-3]
        result = len(RNA)
        return result
    else :
        return "Not readable RNA code"

In [20]:
v = 'AUGUAGCAUAA'
v = v[3:]
v = v[0 :-3]
v

'UAGCA'

In [23]:
rna_length('AUGUAGCAUAA') == 5
rna_length('AUGUUAUAG') == 3
rna_length('AUGUAGGCACAUUUAUGCUCCUGA') == 18
rna_length('AUGAGGCACCUUCUGCUCCUUAC') == "Not readable RNA code"

True

In [24]:
#list comprehension # find the square of each number in the list below provided it can be divided by 2 without a remainder
nums = [1, 2, 3, 4, 5, 6] 
out = [x**2 for x in nums if x % 2 ==0]
out

[4, 16, 36]

In [25]:
# spell out each character in a list 
name = 'explore'
out = [x for x in name]
out

['e', 'x', 'p', 'l', 'o', 'r', 'e']

In [26]:
# find how many times the letter e exist in each sentence and find the length of the list 
my_list = 'explore data science academy'
out = len([x for x in my_list if x=='e'])
out

5

In [27]:
#create a list of characters if they are present in the list below 
list_a = [1, 2, 3, 4, 6, 7, 9, 11]
list_b = [2, 3, 4, 5, 11]

out = [a for a in list_a if a in list_b]
out

[2, 3, 4, 11]

In [30]:
#create a list where vowel word appear for every character in my_string if the character is in the vowel string 
my_string = 'explore'
vowels = 'aeiou'

out = ['vowels' if x in vowels else 'consonant' for x in my_string  ]
out

['vowels',
 'consonant',
 'consonant',
 'consonant',
 'vowels',
 'consonant',
 'vowels']

In [32]:
# add each number list a to a number in list b where the occupy same position 
a = [1,2,3]
b = [4,5,6]
out = [i+j for i,j in zip(a,b)]
out

[5, 7, 9]

## REVISION REFRESHER

#### REPLACE THE FUNCTIONS USING LAMBDA EXPRESSIONS

In [ ]:
def root(x,y):
    return x**(1/y)

In [7]:
v = lambda x,y :x**(1/y)
v(8,3)

2.0

In [9]:
#Use the filter() function to output a list of intergers that are greater than 9 from the given list.#
list1 = [2, 6, 8, 10, 11, 4, 12, 7, 13, 17, 0, 3, 21]

v=list(filter(lambda x:x>9, list1))
v

[10, 11, 12, 13, 17, 21]

In [13]:
#Create a lambda function named sort to sort a list of numbers in an ascending order.
# your code here
y= [6,2,3,9,1,5]
sort = lambda x :sorted(x)
print(sort(y))

[1, 2, 3, 5, 6, 9]

In [15]:
#Use the map() function to output the remainder after dividing each number in list2 by 2.

list2 = [2, 6, 8, 10, 11, 4, 12, 7, 13, 17, 0, 3, 21]

y = list(map(lambda x: x%2))
print(y(list2))

TypeError: map() must have at least two arguments.